<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.wneild5.dashboard" version="1.0.0">
    <name>Dashboard</name>
    <description>A Relaxing Dashboard</description>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="android-installLocation" value="auto" />
    <!-- Plugins -->
    <!-- Core plugins -->
    <!-- Third party plugins -->
    <!-- Misc -->
    <icon src="icon.png" />
    <access origin="*"/>
</widget>